main {
  padding-bottom: 19rem;
}
main::after {
  background: url("./Images/music1.jpg");
  content: "";
  opacity: 0.4;
  top: 70px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-position: center;
  background-size: cover;
}
