main {
  padding-bottom: 15rem;
}
main::after {
  background: url("./Images/music1.jpg");
  content: "";
  opacity: 0.3;
  height: 50rem;
  top: 0;
  left: 0;
  bottom: 15rem;
  right: 0;
  position: absolute;
  z-index: -1;
  background-position: center;
  background-size: cover;
}
